/* General */

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 160px;
}

section {
    padding: 80px 20px;
}

img {
    width: 100%;
}

h2 {
    font-size: 3rem;
}

.dd_btn-orange {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #CD3D0F;
    border: 1px solid #9F2F0C;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.dd_btn-blue {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #2D64E6;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}



/* Header */

.dd_header-top img {
    width: 200px;
}

.navbar-brand img {
    width: 4rem;
}

/* Buy Now */

.dd_buy-now-section-1 {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.dd_buy-now-section-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.dd_buy-now-section-1 img {
    padding-top: 300px;
    padding-bottom: 2rem;
    min-width: 350px;
    width: 50%;
}

.dd_buy-now-section-2 img {
    padding-bottom: 2rem;
    min-width: 350px;
    width: 50%;
}

.dd_buy-now-section-2 h2,
.dd_buy-now-section-2 p {
    text-shadow: 0 0 3px black;
}

.dd_buy-now-section-1 p,
.dd_buy-now-section-2 p {
    font-size: 1.2rem;
    padding: 40px 0;
}

/* PS5 */

.dd_ps5 p {
    font-size: 1.2rem;
    color: #727272;
    padding: 50px 0;
}

/* New Games */

.dd_new-games {
    background-color: #1F1F1F;
    color: white;
}

/* Explore PS4 */

.dd_explore-ps4 p {
    font-size: 1.4rem;
    font-weight: bold;
    color: #727272;
}


@media screen and (min-width: 992px) {

.dd_buy-now-section-1 {
    padding-top: 200px;
}

.dd_buy-now-section-1 img,
.dd_buy-now-section-2 img {
    width: 250px;
    min-width: 0;
}

.dd_buy-now-section-1 p,
.dd_buy-now-section-2 p {
    width: 450px;
}

.dd_buy-now-section-2 h2 {
    width: 450px;
}

}